<body>
    <div class="bandas">
        <table>
            <tr><th>1ra. Banda</th></tr>
            <tr style="background-color: black; color: white"><td><input type="radio" name="banda1" value="0" [(ngModel)]="opcionBanda1"> 0</td></tr>
            <tr style="background-color: brown; color: white"><td><input type="radio" name="banda1" value="1" [(ngModel)]="opcionBanda1"> 1</td></tr>
            <tr style="background-color: red; color: white"><td><input type="radio" name="banda1" value="2" [(ngModel)]="opcionBanda1"> 2</td></tr>
            <tr style="background-color: orangered; color: white"><td><input type="radio" name="banda1" value="3" [(ngModel)]="opcionBanda1"> 3</td></tr>
            <tr style="background-color: yellow; color: white"><td><input type="radio" name="banda1" value="4" [(ngModel)]="opcionBanda1"> 4</td></tr>
            <tr style="background-color: green; color: white"><td><input type="radio" name="banda1" value="5" [(ngModel)]="opcionBanda1"> 5</td></tr>
            <tr style="background-color: blue; color: white"><td><input type="radio" name="banda1" value="6" [(ngModel)]="opcionBanda1"> 6</td></tr>
            <tr style="background-color: purple; color: white"><td><input type="radio" name="banda1" value="7" [(ngModel)]="opcionBanda1"> 7</td></tr>
            <tr style="background-color: gray; color: white"><td><input type="radio" name="banda1" value="8" [(ngModel)]="opcionBanda1"> 8</td></tr>
            <tr style="background-color: #D4D2D2; color: white"><td><input type="radio" name="banda1" value="9" [(ngModel)]="opcionBanda1"> 9</td></tr>
        </table>

        <table>
            <tr ><th>2da. Banda</th></tr>
            <tr style="background-color: black; color: white"><td><input type="radio" name="banda2" value="0" [(ngModel)]="opcionBanda2"> 0</td></tr>
            <tr style="background-color: brown; color: white"><td><input type="radio" name="banda2" value="1" [(ngModel)]="opcionBanda2"> 1</td></tr>
            <tr style="background-color: red; color: white"><td><input type="radio" name="banda2" value="2" [(ngModel)]="opcionBanda2"> 2</td></tr>
            <tr style="background-color: orangered; color: white"><td><input type="radio" name="banda2" value="3" [(ngModel)]="opcionBanda2"> 3</td></tr>
            <tr style="background-color: yellow; color: white"><td><input type="radio" name="banda2" value="4" [(ngModel)]="opcionBanda2"> 4</td></tr>
            <tr style="background-color: green; color: white"><td><input type="radio" name="banda2" value="5" [(ngModel)]="opcionBanda2"> 5</td></tr>
            <tr style="background-color: blue; color: white"><td><input type="radio" name="banda2" value="6" [(ngModel)]="opcionBanda2"> 6</td></tr>
            <tr style="background-color: purple; color: white"><td><input type="radio" name="banda2" value="7" [(ngModel)]="opcionBanda2"> 7</td></tr>
            <tr style="background-color: gray; color: white"><td><input type="radio" name="banda2" value="8" [(ngModel)]="opcionBanda2"> 8</td></tr>
            <tr style="background-color: #D4D2D2; color: white"><td><input type="radio" name="banda2" value="9" [(ngModel)]="opcionBanda2"> 9</td></tr>
        </table>

        <table>
            <tr><th>3ra. Banda<br>Multiplicador</th></tr>
            <tr style="background-color: black; color: white"><td><input type="radio" name="multiplicador" value="1" [(ngModel)]="opcionBanda3"> ×1</td></tr>
            <tr style="background-color: brown; color: white"><td><input type="radio" name="multiplicador" value="10" [(ngModel)]="opcionBanda3"> ×10</td></tr>
            <tr style="background-color: red; color: white"><td><input type="radio" name="multiplicador" value="100" [(ngModel)]="opcionBanda3"> ×100</td></tr>
            <tr style="background-color: orangered; color: white"><td><input type="radio" name="multiplicador" value="1000" [(ngModel)]="opcionBanda3"> ×1000</td></tr>
            <tr style="background-color: yellow; color: white"><td><input type="radio" name="multiplicador" value="10000" [(ngModel)]="opcionBanda3"> ×10000</td></tr>
            <tr style="background-color: green; color: white"><td><input type="radio" name="multiplicador" value="100000" [(ngModel)]="opcionBanda3"> ×100000</td></tr>
            <tr style="background-color: blue; color: white"><td><input type="radio" name="multiplicador" value="1000000" [(ngModel)]="opcionBanda3"> ×1000000</td></tr>
            <tr style="background-color: purple; color: white"><td><input type="radio" name="multiplicador" value="10000000" [(ngModel)]="opcionBanda3"> ×10000000</td></tr>
            <tr style="background-color: gray; color: white"><td><input type="radio" name="multiplicador" value="100000000" [(ngModel)]="opcionBanda3"> ×100000000</td></tr>
            <tr style="background-color: #D4D2D2; color: white"><td><input type="radio" name="multiplicador" value="1000000000" [(ngModel)]="opcionBanda3"> ×1000000000</td></tr>
        </table>
    </div>

    <div class="otro m-5">
        <table>
            <tr><th >Tolerancia</th></tr>
            <tr style="background-color: #F5E800; color: white"><td><input type="radio" name="tolerancia" value="5" [(ngModel)]="opcionToleracia"> Dorado 5%</td></tr>
            <tr style="background-color: gray; color: white"><td><input type="radio" name="tolerancia" value="10" [(ngModel)]="opcionToleracia"> Plateado 10%</td></tr>
        </table>
        
        <button (click)="calcular()">Calcular</button>
    </div>

    <div class="resultado" >
        
        <table id="tabla-resultados">
            <thead>
                <tr>
                    <th>Color 1</th>
                    <th>Color 2</th>
                    <th>Color 3</th>
                    <th>Tolerancia</th>
                    <th>Valor</th>
                    <th>Valor máximo</th>
                    <th>Valor mínimo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="resultado" >
                    <td>{{ resultado.colorBanda1 }}</td>
                    <td>{{ resultado.colorBanda2 }}</td>
                    <td>{{ resultado.colorBanda3 }}</td>
                    <td>{{ resultado.textoTolerancia}}</td>
                    <td>{{ resultado.valor }} </td>
                    <td>{{ resultado.valorMax }} </td>
                    <td>{{ resultado.valorMin }} </td>
                </tr>
            </tbody>
        </table>
    </div>


</body>
  
  

